:root {
  --vt-c-white: rgb(255, 255, 255);
  --vt-c-background: rgb(20, 27, 37);
  --vt-c-light-green: rgb(137, 225, 89);
  --vt-c-dark-green: rgb(6, 157, 61);
  --vt-c-light-gray: rgb(191, 198, 220);
  --vt-c-blue-gray: rgb(156, 163, 175);
  --vt-c-dark-blue-gray: rgb(45, 53, 68);
  --vt-c-light-red: rgb(255, 77, 77);
}

:root {
  --color-background: var(--vt-c-background);
  --primary-green: var(--vt-c-light-green);
}

body {
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Segoe UI';
  font-size: 15px;
  margin: 0;
  padding: 0;
}
